{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

<div>
    <h1>{{post.title}}</h1>
    <small>{{post.author}}</small>
    <small>{{post.createdAt|date('Y-m-d h:i:s')}}</small>
    <img class="post-image" src="/uploads/photos/{{ post.photoName }}">
    <p>{{post.body}}</p>
</div>

{% endblock %}
